
.suckertreemenu {
font-family: inherit;
width: 960px;
height: 33px;
}

#suckertreemenu .suckertreemenu {
height: 32px;
}

.suckertreemenu ul li a {
color: #fff;
font-size: 14px;
font-weight: bold;
letter-spacing: 0;
margin: 0 20px 0;
text-decoration: none;
}

#suckertreemenu suckertable td {
	vertical-align: middle;
	}

.suckertreemenu ul{
margin: 0;
padding: 0;
list-style-type: none;
/* min-width: adjust_width(959); */
position:relative;
z-index:10000;
}

/*Top level list items*/
.suckertreemenu ul li{
position: relative;
display: inline;
float: left;
list-style-type:none;
/*z-index:2; */
}

/*Top level menu link items style*/
.suckertreemenu ul li a{
display: block;
text-decoration: none;
/*z-index:2;*/
margin:0px 20px 0 20px;
}

.suckertreemenu ul li ul li ul{
top: 0px;
/*z-index:3;*/
}
/*1st sub level menu*/
.suckertreemenu ul li ul{
position: absolute;
background-image: url("images/transparent.png");
display: block;
left :0;
visibility: hidden;
min-width: 2px;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.suckertreemenu ul li ul li{
display: list-item;
float: none;
left: 0px;
}

/*All subsequent sub menu levels offset after 1st level sub menu */
.suckertreemenu ul li ul li ul{
}

/* Sub level menu links style */
.suckertreemenu ul li ul li a{
display: block;
width: 185px;
height:23px;
text-decoration: none;
/* margin:10px 0 -11px 0px; */
padding:10px 0 0 2px;
}

.suckertreemenu ul li ul li a:hover{
text-decoration:none;
}

.suckertreemenu ul li a:hover{
}

/*Background image for top level menu list links */
.suckertreemenu .mainfoldericon{
  margin-bottom: 5px;
}

/*Background image for subsequent level menu list links */
.suckertreemenu .subfoldericon{
}

* html p#iepara{ /*For a paragraph (if any) that immediately follows suckertree menu, add 1em top spacing between the two in IE*/
padding-top: 1em;
}

/* Holly Hack for IE \*/
* html .suckertreemenu ul li { float: left; height: 1%; }
* html .suckertreemenu ul li a { height: 1%; }
* html .suckertreemenu ul li ul li { float: left;}
/* End */

#suckertreemenu suckertable td {
	vertical-align: middle;
	}

.private_suckertreemenu ul{
margin: 0;
padding: 0;
list-style-type: none;
position:relative;
z-index:10000;
}

.private_suckertreemenu {
	background: url("images/nav_bg.jpg") repeat-x scroll 0 0 transparent;
	height: 31px;
	color: #000;
	border-bottom: 1px solid #fff;
	box-shadow: 0px 3px 5px #888888;
	margin: 0 0 20px 0;
	width: 100%;
	font-family: helvetica, arial, sans-serif;
}

.private_suckertreemenu table {
height: 31px;
width: 100%;
}

.private_suckertreemenu table td {
vertical-align: middle;
}

ul.separatedList {
 margin: 20px 0 !important;
padding-left:0;
}

ul.separatedList li {
border-left:1px dotted #A3A4A7;
display:inline;
margin-left:0;
padding:0 10px;
}
ul.separatedList li:first-child {
border-left:0 none;
padding-left:0;
}
ul.separatedList li a {
color:#008595;
}
ul.separatedList li a.active {
color:#2A3333;
cursor:default;
text-decoration:none;
}
ul.separatedList.small li {
font-size:0.9em;
}

/*Top level list items*/
.private_suckertreemenu ul li{
position: relative;
display: inline;
float: left;
list-style-type:none;
padding: 9px 10px;
}

/*Top level menu link items style*/
.private_suckertreemenu ul li a{
display: block;
text-decoration: none;
z-index:2;
padding:0;
font-size: 12px;
color: #fff;
text-shadow: 0px 1px 1px #000000;
filter: dropshadow(color=#000000, offx=0, offy=1);
font-family: Helvetica, Arial, sans-serif;
}

.private_suckertreemenu ul li a.disabled, .private_suckertreemenu ul li a.disabled:hover {
color: #aaa;
cursor: default;
}

.private_suckertreemenu ul li a:hover {
color: #fffdc8;
}

.private_suckertreemenu ul li ul li ul{
/*z-index:3;*/
}
/*1st sub level menu*/
.private_suckertreemenu ul li ul{
position: absolute;
background-image: url("images/transparent.png");
display: block;
left: -10px;
z-index:-1;
visibility: hidden;
min-width: 190px;
top: 32px;
}

.private_suckertreemenu ul#treemenu2 {
background: url(images/nav_devlive_logo.jpg) no-repeat scroll 10px 0 transparent;
height: 31px;
padding: 0;
float: left;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.private_suckertreemenu ul li ul li{
display: list-item;
float: none;
left: 0px;
position:relative;
background: #4B4B4B;
padding: 5px;
border-bottom: 1px solid #939393;
border-left: 1px solid #939393;
border-right: 1px solid #939393;
}

/*All subsequent sub menu levels offset after 1st level sub menu */
.private_suckertreemenu ul li ul li ul{
left: 159px; /* no need to change, as true value set by script */
top: 0;
/* z-index:2; */
}

/* Sub level menu links style */
.private_suckertreemenu ul li ul li a{
display: block;
height:17px;
text-decoration: none;
/* margin:10px 0 -11px 0; */
padding:5px 0 0 14px;
}

.private_suckertreemenu ul li ul li a:hover{
text-decoration:none;
}

.private_suckertreemenu ul li ul li:hover{
background: #303030;
}

/*Background image for top level menu list links */
.private_uckertreemenu .mainfoldericon{
}

/*Background image for subsequent level menu list links */
.private_suckertreemenu .subfoldericon{
}

* html p#iepara{ /*For a paragraph (if any) that immediately follows suckertree menu, add 1em top spacing between the two in IE*/
padding-top: 1em;
}

/* Holly Hack for IE \*/
* html .private_suckertreemenu ul li { float: left; height: 1%; }
* html .private_suckertreemenu ul li a { height: 1%; }
* html .private_suckertreemenu ul li ul li { float: left;}
/* End */

#private_suckertreemenu suckertable td {
	vertical-align: middle;
	}

.private_suckertreemenu ul{
margin: 0;
padding: 0;
list-style-type: none;
}
