#maincontent p, #maincontent a, #maincontent ul, #maincontent li, #maincontent h1, #maincontent h2, #maincontent h3, #maincontent h4, #maincontent h5 {
    font-family: 'Neue Helvetica W01',Helvetica,arial,sans-serif
}

body {
    background-color: #2A4C61 !Important;
    color: #000;
    font-family: 'Neue Helvetica W01',Helvetica,arial,sans-serif;
    text-align: left;
    font-size: 62.5%;
    margin: 0;
    position: relative;
    height: auto !important;
    min-height: 100%;
    overflow-x: hidden;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both
}

.bb {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box
}

.edit_wrap {
    z-index: 110000000
}

#container {
    width: auto;
    margin: 0 auto;
    clear: both;
    background: #fff;
    /*background: rgba(0, 127, 182, 0.62); /* For browsers that do not support gradients */
    /*background: -webkit-linear-gradient(left top,rgba(0, 127, 182, 0.1), white); /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(bottom right,rgba(0, 127, 182, 0.1), white); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(bottom right, rgba(0, 127, 182, 0.1), white); /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(to bottom right, rgba(0, 127, 182, 0.1), white); /* Standard syntax */
 
}

#maincontent {
    width: inherit;
    clear: both;
    font-size: 12px;
    background-color: none;
    background-image: none;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 0 0
}

    #maincontent a, #maincontent p, a {
        font-size: inherit;
        font-family: 'Neue Helvetica W01',Helvetica,arial,sans-serif
    }

        #maincontent p a {
            color: inherit
        }

            #maincontent p a:hover {
                color: #5195ea
            }

#content {
    width: inherit
}

.content_box {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    width: auto !important
}

#resultcon_inner {
    padding-left: 0 !important;
    padding-right: 0 !important
}

#page_info {
    display: none
}

#pagetitle {
    color: #000;
    float: left;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -1px;
    margin: 12px 0 0 10px;
    text-align: left
}

ul#breadcrumb {
    margin: 0;
    padding: 18px 0 0 10px
}

    ul#breadcrumb li {
        display: inline;
        font-family: "Lucida Grande","Lucida Sans",helvetica,arial,sans-serif;
        list-style: none;
        padding: 0 0 0 8px
    }

        ul#breadcrumb li a {
            color: gray;
            font-size: 10px
        }

#maincontent .table {
    display: table;
    width: 100%
}

#maincontent .contact-table {
    width: 700px;
    max-width: 100%;
    margin: 0 auto
}

#maincontent .table-row {
    display: table-row
}

#maincontent .table-cell {
    display: table-cell
}

#maincontent .contact-table .table-cell {
    padding: 0 10px;
    width: 50%
}

#maincontent .contact-table .table-row .table-cell:first-child {
    padding-left: 0
}

#maincontent .contact-table .table-row .table-cell:last-child {
    padding-right: 0
}

#maincontent .one-half {
    width: auto;
    float: none
}

#maincontent .pad-div {
    padding: 20px 40px
}

#maincontent p {
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
    margin: 1em 0
}

#maincontent .scroll_section p {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto
}

#maincontent ul, #maincontent ol {
    margin: 30px 0
}

#maincontent li {
    font-size: 22px;
    line-height: 30px;
    margin: 10px 0
}

#maincontent ul.fancy {
    text-align: left
}

    #maincontent ul.fancy li {
        display: block;
        width: auto
    }

        #maincontent ul.fancy li span {
            display: block;
            background: url(../images/check_bullet.svg) no-repeat scroll 0 0 transparent;
            padding-left: 55px;
            min-height: 35px
        }

            #maincontent ul.fancy li span:after {
                display: none
            }

#maincontent .jump_btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    background: #007fb6;
    color: #fff;
    z-index: 1;
    text-decoration: none;
    font-family: 'Bebas Neue W01','Helvetica Neue W01',Helvetica,Arial,Sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 400
}

    #maincontent .jump_btn:hover {
        background: #2679df
    }

#maincontent .map ul {
    margin: 10px auto
}

#maincontent .map li {
    font-size: 14px;
    margin: 0
}

    #maincontent .map li a {
        text-decoration: none;
        color: #000
    }

        #maincontent .map li a:hover {
            color: #007fb6
        }

#maincontent h1 {
    text-transform: uppercase
}

    #maincontent h1 span.sub {
        font-size: 30px;
        text-transform: capitalize;
        letter-spacing: 0;
        display: block
    }

#maincontent h2 {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    font-family: 'Bebas Neue W01','Helvetica Neue W01',Helvetica,Arial,Sans-serif;
    color: #007fb6
}

#maincontent #home_2 h2 {
    text-align: left
}

#maincontent h3 {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    font-family: 'Bebas Neue W01','Helvetica Neue W01',Helvetica,Arial,Sans-serif;
    color: #007fb6;
    margin-bottom: 20px;
    margin-top: 40px
}

#maincontent .outlined {
    border: 5px solid #fff;
    color: #fff;
    padding: 20px 40px;
    background: transparent;
    display: inline-block;
    margin: 0 auto;
    font-weight: 700;
    font-family: 'Bebas Neue W01','Helvetica Neue W01',Helvetica,Arial,Sans-serif
}

#maincontent hr {
    background: #A6CC38;
    border: none;
    height: 5px;
    display: block;
    margin: 2.5em 0
}

#maincontent .btn {
    background: #5195ea;
    color: #fff;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    padding: 10px 40px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    border: none;
    cursor: pointer;
    -webkit-appearance: none
}

    #maincontent .btn:hover, #maincontent .btn:active {
        background: #2679df;
        color: #fff
    }

#maincontent .icon_link {
    font-size: 18px;
    text-align: center;
    display: inline-block;
    margin: 20px;
    color: #8b8b8b;
    text-decoration: none
}

    #maincontent .icon_link span, #maincontent a.step_box span.step_wrap > span {
        display: block;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 700;
        color: #007fb6;
        font-family: 'Bebas Neue W01','Helvetica Neue W01',Helvetica,Arial,Sans-serif
    }

        #maincontent .icon_link span:before {
            display: block;
            content: '';
            width: 130px;
            height: 140px;
            background: #ccc;
            -webkit-border-radius: 70px;
            -moz-border-radius: 70px;
            border-radius: 70px;
            margin: 0 auto
        }

#maincontent .clipboard span:before {
    background: url(../images/clipboard_icon.png) no-repeat scroll 50% top transparent
}

#maincontent .pricetag span:before {
    background: url(../images/pricetag_icon.png) no-repeat scroll 50% top transparent
}

#maincontent .house span:before {
    background: url(../images/house_icon.png) no-repeat scroll 50% top transparent
}

#maincontent .findhome span:before {
    background: url(../images/laptop_icon.png) no-repeat scroll 50% top transparent
}

#maincontent .security span:before {
    background: url(../images/buyhome_icon.png) no-repeat scroll 50% top transparent
}

#maincontent .lease span:before {
    background: url(../images/homekey_icon.png) no-repeat scroll 50% top transparent
}

#maincontent .payments span:before {
    background: url(../images/clock_icon.png) no-repeat scroll 50% top transparent
}

#maincontent .buyhome span:before {
    background: url(../images/sold_icon.png) no-repeat scroll 50% top transparent
}

#maincontent a.icon_link:hover span {
    color: #5195ea
}

    #maincontent a.icon_link:hover span:before {
        opacity: .8
    }

#maincontent a.step_box {
    border: 1px solid #ccc;
    display: block;
    font-size: 22px;
    text-align: left;
    padding: 20px;
    position: relative;
    width: 950px;
    max-width: 100%;
    height: 180px;
    margin: 10px auto;
    text-decoration: none;
    color: #000
}

    #maincontent a.step_box span.step_wrap {
        position: absolute;
        top: 50%;
        left: 200px;
        right: 20px;
        transform: translateY(-50%)
    }

    #maincontent a.step_box:before {
        display: inline-block;
        height: auto;
        width: 180px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: auto;
        font-weight: 400;
        font-family: 'Bebas Neue W01','Helvetica Neue W01',Helvetica,Arial,Sans-serif;
        text-align: center;
        padding-top: 10px
    }

#maincontent fieldset {
    border: 1px solid #ccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px
}

    #maincontent fieldset legend {
        padding: 0 20px;
        margin-left: 40px;
        position: relative;
        top: -10px
    }

#maincontent .field_wrap {
    margin: 0 auto 20px;
    max-width: 700px;
    text-align: left
}

    #maincontent .field_wrap label {
        font-size: 16px;
        font-weight: 700;
        display: block;
        font-family: 'Helvetica Neue W01',Helvetica,Arial,Sans-serif
    }

#maincontent .cs-select > span.cs-placeholder {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Helvetica Neue W01',Helvetica,Arial,Sans-serif;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

#maincontent .cs-select li {
    font-size: 18px
}

#maincontent .field_wrap input[type="text"], #maincontent .field_wrap textarea {
    background: #fff;
    border: 1px solid #e1e1e1;
    padding: .5em;
    font-size: 18px;
    width: 100%;
    max-width: 100%;
    -webkit-appearance: none;
    font-weight: 300;
    font-family: 'Neue Helvetica W01',Helvetica,arial,sans-serif;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

#maincontent .field_wrap textarea {
    height: 200px
}

#maincontent .field_wrap #other_field input[type="text"] {
    width: auto;
    max-width: 55%;
    padding: .25em
}

#maincontent .field_wrap select {
    font-weight: 300;
    font-family: 'Neue Helvetica W01',Helvetica,arial,sans-serif;
    font-size: 18px;
    padding: 10px
}

#maincontent .scroll_section {
    padding: 40px;
    text-align: center;
    position: relative;
    border-bottom: solid;
    border-bottom-color: #a6cc38;
    border-bottom-width:10px;
}

    #maincontent .scroll_section .scroll_pos {
        position: absolute
    }

    #maincontent .scroll_section h1 {
        font-size: 40px;
        font-weight: 700;
        font-family: 'Bebas Neue W01','Helvetica Neue W01',Helvetica,Arial,Sans-serif
    }

    #maincontent .scroll_section .scroll_hold {
        position: absolute;
        left: 40px;
        right: 40px;
        top: 40px;
        bottom: 40px
    }

#maincontent .map h2 {
    font-size: 18px
}

#maincontent ul.aln_left {
    text-align: left;
    max-width: 800px;
    margin: 30px auto
}

    #maincontent ul.aln_left li ul {
        margin-left: 80px
    }

    #maincontent ul.aln_left li {
        list-style: disc outside none
    }

#maincontent ul.icon_list {
    margin: 0 auto;
    max-width: 1200px
}

    #maincontent ul.icon_list li {
        width: 350px;
        max-width: 100%;
        display: inline-block;
        vertical-align: top
    }

        #maincontent ul.icon_list li a.icon_link span {
            font-size: 30px
        }

#maincontent ul.pagination {
    margin: 20px auto;
    max-width: 1200px;
    text-align: center
}

    #maincontent ul.pagination li {
        display: inline-block;
        margin: 10px 5px
    }

        #maincontent ul.pagination li a {
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            background: #ededed;
            padding: 10px;
            width: 30px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            color: #007fb6
        }

            #maincontent ul.pagination li a.active, #maincontent ul.pagination li a:hover {
                background: #B7D5ED
            }

#maincontent .img_hold {
    width: 100%;
    padding-bottom: 30%;
    min-height: 180px
}

#maincontent .comm_button {
    display: inline-block;
    width: auto;
    background-size: 50px;
    margin: 0 10px 30px;
    text-align: left
}

    #maincontent .comm_button a {
        font-size: 18px;
        padding: 15px 0 15px 60px;
        display: block;
        text-decoration: none;
        color: inherit
    }

        #maincontent .comm_button a:hover {
            color: #007fb6
        }

#maincontent .home_listing {
    border: 1px solid #ccc;
    padding: 20px;
    width: auto;
    display: inline-block;
    margin: 20px
}

    #maincontent .home_listing h2 {
        letter-spacing: 0;
        font-size: 30px
    }

    #maincontent .home_listing p {
        font-size: 18px
    }

    #maincontent .home_listing a.btn {
        display: block;
        width: auto
    }

        #maincontent .home_listing a.btn + a.btn {
            margin-top: 20px
        }

    #maincontent .home_listing .img_overflow {
        width: 100%;
        height: 196px;
        display: block;
        position: relative;
        margin-bottom: 20px;
        overflow: hidden
    }

    #maincontent .home_listing img {
        width: auto;
        height: auto;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%)
    }

#maincontent .portrait img {
    width: 100%
}

#maincontent .landscape img {
    height: 100%
}

#maincontent .radio_hold {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    padding-right: 20px;
    white-space: nowrap;
    display: block;
    font-size: 18px
}

#container .showmsg {
    font-size: 30px;
    margin: 20px auto;
    color: red;
    font-weight: 700;
    text-align: left
}

#maincontent .cs-select ul, #maincontent .cs-select ul li {
    margin: 0
}

@media (min-width: 1100px) {
    #maincontent .scroll_section {
        padding: 40px 40px 40px 290px
    }

    #maincontent .no-pad {
        padding: 0 0 0 250px
    }

    #maincontent .scroll_section .scroll_hold {
        left: 290px
    }

    #maincontent .one-half {
        width: 49%;
        float: left;
        text-align: left
    }

        #maincontent .one-half + .one-half {
            float: right
        }

    #maincontent .scroll_section h1 {
        font-size: 70px
    }

    #maincontent #home_2 h2 {
        text-align: center
    }

    #maincontent h2 {
        font-size: 37px
    }

    #maincontent ul.fancy {
        text-align: center
    }

        #maincontent ul.fancy li {
            display: block;
            width: auto
        }

            #maincontent ul.fancy li span {
                display: inline-block;
                background: none;
                padding: 0
            }

                #maincontent ul.fancy li span:after {
                    content: '';
                    display: block;
                    background: url(../images/check_bullet.svg) no-repeat scroll 0 0 transparent;
                    height: 35px;
                    width: 35px;
                    float: left;
                    margin-right: 20px
                }

    #maincontent a.icon_link {
        display: inline-block;
        margin: 60px 40px
    }

        #maincontent a.icon_link span {
            font-size: 40px
        }

    #maincontent .home_listing {
        width: 300px
    }

    #maincontent .radio_hold {
        display: inline-block
    }

    #maincontent .comm_button {
        width: auto;
        margin: 0 30px 30px;
        display: block
    }

    #maincontent .comm_wrapper {
        width: 25%;
        min-width: 240px;
        max-width: 400px;
        margin-right: 40px;
        text-align: left;
        float: left
    }
}

@media (max-width: 800px) {
    #maincontent .comm_button a {
        padding: 80px 0 0
    }

    #maincontent .comm_button {
        background-position: top center !important;
        background-size: auto 70px !important;
        text-align: center;
        display: inline-block
    }

    #maincontent .contact-table {
        width: 100%
    }

        #maincontent .contact-table .table-cell {
            display: block;
            padding: 0;
            width: 100%
        }

    #maincontent a.step_box {
        width: auto;
        height: auto;
        text-align: center;
        padding-top: 200px
    }

        #maincontent a.step_box:before {
            left: 50%;
            transform: translateX(-50%);
            width: 160px;
            height: 160px;
            padding: 20px 0 0;
            color: #000
        }

        #maincontent a.step_box span.step_wrap {
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            transform: none
        }
}

body.pc #maincontent p, body.pc #maincontent .btn, body.pc #maincontent .field_wrap input[type="text"], body.pc #maincontent .field_wrap textarea {
    font-weight: 400
}

#banner {
    width: auto;
    border: none;
    height: auto;
    max-width: inherit;
    position: relative;
    margin: 0 auto;
    font-family: helvetica,arial,sans-serif;
    display: block
}

    #banner img.logo {
        display: block;
        margin: 20px auto;
        width: 200px;
        max-width: 90%
    }

    #banner #header_social {
        position: static;
        margin: 0 auto;
        display: block;
        text-align: center
    }

@media (min-width: 1100px) {
    #banner {
        height: 0;
        position: absolute;
        top: 0
    }

        #banner img.logo {
            display: none
        }

        #banner #header_social {
            position: absolute;
            top: 155px;
            left: 20px;
            z-index: 3
        }
}

#footer {
    width: auto;
    background: #2a4c61;
    color: #fff;
    border-top: 10px solid #a6cc38;
    height: auto;
    position: relative;
    margin: 0 auto;
    clear: both;
    text-align: center;
    padding-left: 0
}

    #footer p, #footer a {
        color: #fff;
        text-decoration: none;
        font-size: 12px
    }

        #footer a:hover, #footer a:active {
            color: #CCC
        }

    #footer .logo img {
        width: 190px;
        display: block;
        margin: 20px auto
    }

    #footer ul {
        margin: 20px auto
    }

        #footer ul li {
            display: inline-block
        }

        #footer ul.text-links li {
            border-right: 1px solid #fff;
            padding: 0 10px
        }

            #footer ul.text-links li:last-child {
                border-right: none
            }

        #footer ul li a {
            font-size: 14px
        }

        #footer ul li img {
            display: inline-block;
            vertical-align: middle;
            margin: 0 5px
        }

@media (min-width: 1100px) {
    #footer {
        padding-left: 250px
    }
}

#event_sidebar {
    width: 200px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    margin: 20px
}

.user_cal_pop p {
    font-size: 14px;
    margin: 10px 0
}

.flexnav {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    transition: none;
    -webkit-transform-style: preserve-3d;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    max-height: 0
}

    .flexnav.opacity {
        opacity: 0
    }

    .flexnav.flexnav-show {
        max-height: 2000px;
        opacity: 1;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out
    }

    .flexnav.one-page {
        position: fixed;
        top: 50px;
        right: 5%;
        max-width: 200px
    }

    .flexnav li {
        font-size: 100%;
        position: relative;
        overflow: hidden
    }

        .flexnav li a {
            position: relative;
            display: block;
            padding: 1.08em 20px 1.08em 0;
            z-index: 2;
            overflow: hidden;
            color: #fff;
            background: #484848;
            border-bottom: 1px solid rgba(0,0,0,0.15);
            font-family: 'Neue Helvetica W01',Helvetica,arial,sans-serif;
            font-weight: 300;
            font-size: 12px;
            text-decoration: none
        }

        .flexnav li:last-of-type a {
            padding-right: 0
        }

        .flexnav li a:hover, .flexnav li a:active {
            background: #000
        }

        .flexnav li ul {
            width: 100%
        }

            .flexnav li ul li {
                font-size: 100%;
                position: relative;
                overflow: hidden
            }

            .flexnav li ul.flexnav-show li {
                overflow: visible
            }

            .flexnav li ul li a {
                display: block;
                background: #b2b2af
            }

    .flexnav ul li ul li a {
        background: #bfbfbc
    }

    .flexnav ul li ul li ul li a {
        background: #cbcbc9
    }

    .flexnav li ul li a:hover {
        background: #919191
    }

    .flexnav .touch-button {
        position: absolute;
        z-index: 999;
        top: 0;
        right: 0;
        width: 61px;
        height: 64px;
        display: inline-block;
        background: #acaca1;
        background: rgba(0,0,0,0.075);
        text-align: center
    }

        .flexnav .touch-button:hover {
            cursor: pointer
        }

        .flexnav .touch-button .navicon {
            color: #666;
            font-size: 30px;
            left: 5px;
            position: relative;
            text-align: center;
            top: 15px
        }

#sitemenu .flexnav .touch-button .navicon {
    color: #fff
}

.menu-button {
    position: relative;
    display: block;
    padding: 1em;
    background: #a6a6a2;
    color: #333;
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    font-size: 16px;
    font-weight: 700;
    text-align: center
}

.menubutton {
    position: relative;
    display: block;
    line-height: 75px;
    background: #2A4C61;
    color: #fff;
    cursor: pointer;
    border-bottom: 5px solid #a6cc38;
    font-weight: 700;
    text-align: center;
    font-size: 28px;
    font-family: 'Avenir W01',Helvetica,Arial,Sans-serif;
    text-transform: uppercase;
    /*vertical-align: middle*/
}

    .menubutton:before {
        content: "";
        display: inline-block;
        width: 62px;
        height: 33px;
        background: url(../images/thinbars.png) no-repeat scroll 50% 50% transparent;
        vertical-align: middle;
        position: relative;
        top: -3px
    }

    .menu-button.one-page, .menubutton.one-page {
        position: fixed;
        top: 0;
        right: 5%;
        padding-right: 45px
    }

    .menu-button .touch-button, .menubutton .touch-button {
        background: transparent;
        position: absolute;
        z-index: 999;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        display: inline-block;
        text-align: center
    }

        .menu-button .touch-button .navicon {
            font-size: 16px;
            position: relative;
            top: 1em;
            color: #666
        }

    .menubutton .touch-button {
        height: 77px
    }

        .menubutton .touch-button .navicon {
            font-size: 36px;
            position: relative;
            top: 20px;
            color: #fff;
            display: none
        }

.oldie body.one-page {
    padding-top: 70px
}

.oldie .flexnav {
    overflow: visible
}

    .oldie .flexnav.one-page {
        top: 0;
        right: auto;
        max-width: 1080px
    }

    .oldie .flexnav li {
        position: relative;
        list-style: none;
        float: left;
        display: block;
        background-color: #a6a6a2;
        width: 20%;
        min-height: 50px;
        overflow: visible
    }

        .oldie .flexnav li:hover > ul {
            display: block;
            width: 100%;
            overflow: visible
        }

            .oldie .flexnav li:hover > ul li {
                width: 100%;
                float: none
            }

        .oldie .flexnav li a {
            border-left: 1px solid #acaca1;
            border-bottom: none;
            overflow: visible
        }

        .oldie .flexnav li > ul {
            background: #acaca1;
            position: absolute;
            top: auto;
            left: 0;
            display: none;
            z-index: 1;
            overflow: visible
        }

        .oldie .flexnav li ul li ul {
            top: 0
        }

        .oldie .flexnav li ul li a {
            border-bottom: none
        }

        .oldie .flexnav li ul.open {
            display: block;
            width: 100%;
            overflow: visible
        }

            .oldie .flexnav li ul.open li {
                width: 100%
            }

            .oldie .flexnav li ul.open ul.open {
                margin-left: 100%;
                top: 0;
                display: block;
                width: 100%;
                overflow: visible
            }

    .oldie .flexnav ul li:hover ul {
        margin-left: 100%;
        top: 0
    }

.oldie .menu-button, .oldie .menubutton {
    display: none
}

.oldie.ie7 .flexnav li {
    width: 19.9%
}

.platform_windows .flexnav li a {
    padding: .89em 18px
}

#suckertreemenu1 {
    background: #484848;
    width: 100%;
    height: 0 !important;
    position: relative;
    z-index: 10000001
}

    #suckertreemenu1 .flexnav li a {
        padding: .95em 20px
    }

#sitemenu {
    background: #003760;
    width: auto;
    height: 0 !important;
    position: relative;
    z-index: 1000000
}

    #sitemenu .flexnav li a {
        text-transform: capitalize;
        padding: 1em 20px;
        background: #2A4C61;
        text-align: center;
        font-size: 20px
    }

    #sitemenu .flexnav li > ul li a {
        font-size: 16px;
        color: #E2E2E2;
        background: #093a56
    }

    #sitemenu .flexnav li a:hover, #sitemenu .flexnav li a:active {
        color: #E2E2E2;
        background: #24526d
    }

    #sitemenu .flexnav li > ul li a:hover, #sitemenu .flexnav li > ul li a:active {
        color: #E2E2E2;
        background: #004c75
    }

@media (min-width: 1260px) {
    #suckertreemenu1 {
        height: 37px !important
    }

        #suckertreemenu1 .flexnav li.item-with-ul a {
            padding-right: 50px
        }

        #suckertreemenu1 .flexnav li.item-with-ul li {
            float: left
        }

        #suckertreemenu1 .flexnav {
            overflow: visible
        }

            #suckertreemenu1 .flexnav.opacity {
                opacity: 1
            }

            #suckertreemenu1 .flexnav.one-page {
                top: 0;
                right: auto;
                max-width: 1080px
            }

            #suckertreemenu1 .flexnav li {
                position: relative;
                list-style: none;
                float: none;
                display: inline-block;
                background-color: #a6a6a2;
                overflow: visible;
                width: auto
            }

                #suckertreemenu1 .flexnav li.item-with-ul a {
                    padding-right: 50px
                }

                #suckertreemenu1 .flexnav li > ul {
                    position: absolute;
                    top: auto;
                    left: 0;
                    width: 200px
                }

                    #suckertreemenu1 .flexnav li > ul li {
                        width: 100%
                    }

                #suckertreemenu1 .flexnav li ul li > ul {
                    margin-left: 100%;
                    top: 0
                }

                #suckertreemenu1 .flexnav li ul li a {
                    border-bottom: none;
                    border-left: none
                }

                #suckertreemenu1 .flexnav li ul.open {
                    display: block;
                    opacity: 1;
                    visibility: visible;
                    z-index: 1
                }

                    #suckertreemenu1 .flexnav li ul.open li {
                        overflow: visible;
                        max-height: 100px
                    }

                    #suckertreemenu1 .flexnav li ul.open ul.open {
                        margin-left: 100%;
                        top: 0
                    }

    .menu-button {
        display: none
    }
}

@media (min-width: 1100px) {
    #sitemenu {
        z-index: 2;
        height: 100% !important;
        width: 250px;
        position: absolute;
        top: 0;
        bottom: 0;
        background: rgba(22,59,88,0.9)
    }

        #sitemenu .flexnav {
            text-align: left
        }

            #sitemenu .flexnav:before {
                display: block;
                content: '';
                width: 190px;
                height: 119px;
                background: url(../images/btho_logo.png) no-repeat scroll 50% 50% transparent;
                background-size: 190px auto;
                margin: 20px auto
            }

            #sitemenu .flexnav li a {
                font-size: 20px;
                padding: .69em 20px;
                text-align: left;
                background: transparent
            }

                #sitemenu .flexnav li a:hover {
                    background: rgba(75,150,210,0.4)
                }

    .flexnav .touch-button {
        width: 30px;
        height: 100%;
        max-height: 89px;
        background: transparent
    }

    #sitemenu .flexnav .touch-button {
        max-height: 51px
    }

    .flexnav .touch-button .navicon {
        font-size: 18px;
        top: 50%;
        left: 1px;
        transform: translateY(-50%)
    }

    #sitemenu .flexnav {
        overflow: visible
    }

        #sitemenu .flexnav.opacity {
            opacity: 1
        }

        #sitemenu .flexnav.one-page {
            top: 0;
            right: auto;
            max-width: 1080px
        }

        #sitemenu .flexnav li {
            position: relative;
            list-style: none;
            float: none;
            display: block;
            background-color: transparent;
            overflow: visible;
            width: auto
        }

            #sitemenu .flexnav li.item-with-ul a {
                padding-right: 50px
            }

            #sitemenu .flexnav li > ul {
                position: relative;
                top: auto;
                left: 0;
                right: 0;
                width: auto;
                z-index: 10
            }

                #sitemenu .flexnav li > ul li {
                    width: 100%
                }

            #sitemenu .flexnav li ul li > ul {
                margin-left: 100%;
                top: 0
            }

            #sitemenu .flexnav li ul li a {
                border-bottom: none;
                border-left: none
            }

            #sitemenu .flexnav li > ul li a {
                background: rgba(75,150,210,0.4)
            }

            #sitemenu .flexnav li ul.open {
                display: block;
                opacity: 1;
                visibility: visible;
                z-index: 1
            }

                #sitemenu .flexnav li ul.open li {
                    overflow: visible;
                    max-height: 100px
                }

                #sitemenu .flexnav li ul.open ul.open {
                    margin-left: 100%;
                    top: 0
                }

    .menubutton {
        display: none
    }
}




    .item img {
        width:100%;
        height: 50%;
        clear:both;
    }

#home_3 {
    background-image: url("/images/magnet-kitchen-in-Romsey1.jpg");
    background-size: cover;
}



#maincontent a#step1:before {
    content: 'Step One';
    background: url(../images/laptop_icon.png) no-repeat scroll 50% 70% #2A4C61;
    background-size: 120px auto;
    color: #fff;
}

#maincontent a#step2:before {
    background: url(../images/buyhome_icon.png) no-repeat scroll 50% 70% #2c5972;
    background-size: 120px auto;
    content: 'Step Two';
    color: #fff;
}

#maincontent a#step3:before {
    content: 'Step Three';
    background: url(../images/homekey_icon.png) no-repeat scroll 50% 70% #255c7c;
    background-size: 120px auto;
    color: #fff;
}

#maincontent a#step4:before {
    content: 'Step Four';
    background: url(../images/clock_icon.png) no-repeat scroll 50% 70% #216389;
    background-size: 120px auto;
    color: #fff;
}

#maincontent a#step5:before {
    content: 'Step Five';
    background: url(../images/sold_icon.png) no-repeat scroll 50% 70% #1e6c96;
    background-size: 120px auto;
    color: #fff;
}