#maincontent p,
#maincontent a,
#maincontent ul,
#maincontent li,
#maincontent h1,
#maincontent h2,
#maincontent h3,
#maincontent h4,
#maincontent h5 {
    font-family: 'Neue Helvetica W01', Helvetica, arial, sans-serif;
}
body {
    background-color: #2A4C61;
    color: #000;
    font-family: 'Neue Helvetica W01', Helvetica, arial, sans-serif;
    text-align: left;
    font-size: 62.5%;
    margin: 0;
    position: relative;
    height: auto !important;
    min-height: 100%;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.bb {
    box-sizing: border-box;
    /* css3 rec */
    
    -moz-box-sizing: border-box;
    /* ff2 */
    
    -ms-box-sizing: border-box;
    /* ie8 */
    
    -webkit-box-sizing: border-box;
    /* safari3 */
    
    -khtml-box-sizing: border-box;
    /* konqueror */
}
#stag {
    margin-left: 250px;
}
.edit_wrap {
    z-index: 110000000;
}
#container {
    width: auto;
    margin: 0 auto;
    clear: both;
    background: #fff;
}
#maincontent {
    width: inherit;
    clear: both;
    font-size: 12px;
    background-color: none;
    background-image: none;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 0 0;
}
#maincontent a,
#maincontent p,
a {
    font-size: inherit;
    font-family: 'Neue Helvetica W01', Helvetica, arial, sans-serif;
}
#maincontent p a {
    color: inherit;
}
#maincontent p a:hover {
    color: #5195ea;
}
#content {
    width: inherit;
}
.content_box {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    /*margin-left: 250px !important;*/
    
    width: auto !important;
}
#resultcon_inner {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
#page_info {
    display: none;
}
#pagetitle {
    color: #000;
    float: left;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: -1px;
    margin: 12px 0 0 10px;
    text-align: left;
}
ul#breadcrumb {
    margin: 0px;
    padding: 18px 0 0 10px;
}
ul#breadcrumb li {
    display: inline;
    font-family: "Lucida Grande", "Lucida Sans", helvetica, arial, sans-serif;
    list-style: none;
    padding: 0 0 0 8px;
}
ul#breadcrumb li a {
    color: #808080;
    font-size: 10px;
}
#login_message {
    font-size: 14px;
    background: #FFFEE4;
    border: 1px solid #FFC700;
    width: 405px;
    margin: 20px auto 0;
    text-align: center;
    padding: 20px;
}
/*structure classes*/

#maincontent .table {
    display: table;
    width: 100%;
}
#maincontent .contact-table {
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
}
#maincontent .table-row {
    display: table-row;
}
#maincontent .table-cell {
    display: table-cell;
}
#maincontent .contact-table .table-cell {
    padding: 0 10px;
    width: 50%;
}
#maincontent .contact-table .table-row .table-cell:first-child {
    padding-left: 0;
}
#maincontent .contact-table .table-row .table-cell:last-child {
    padding-right: 0;
}
#maincontent .one-half {
    width: auto;
    float: none;
}
#maincontent .pad-div {
    padding: 20px 40px;
}
/*font styles*/

#maincontent p {
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
    margin: 1em 0;
}
#maincontent .scroll_section p {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#maincontent ul,
#maincontent ol {
    margin: 30px 0;
}
#maincontent li {
    font-size: 22px;
    line-height: 30px;
    margin: 10px 0;
}
#maincontent ul.fancy {
    text-align: left;
}
#maincontent ul.fancy li {
    display: block;
    width: auto;
}
#maincontent ul.fancy li span {
    display: block;
    background: url(../images/check_bullet.svg) no-repeat scroll 0 0 transparent;
    padding-left: 55px;
    min-height: 35px;
}
#maincontent ul.fancy li span:after {
    display: none;
}
#maincontent .jump_btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    background: #007fb6;
    color: #fff;
    z-index: 1;
    text-decoration: none;
    font-family: 'Bebas Neue W01', 'Helvetica Neue W01', Helvetica, Arial, Sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 400;
}
#maincontent .jump_btn:hover {
    background: #2679df;
}
#maincontent .map ul {
    margin: 10px auto;
}
#maincontent .map li {
    font-size: 14px;
    margin: 0;
}
#maincontent .map li a {
    text-decoration: none;
    color: #000;
}
#maincontent .map li a:hover {
    color: #007fb6;
}
#maincontent h1 {
    text-transform: uppercase;
}
#maincontent h1 span.sub {
    font-size: 30px;
    text-transform: capitalize;
    letter-spacing: 0px;
    display: block;
}
#maincontent h2 {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    font-family: 'Bebas Neue W01', 'Helvetica Neue W01', Helvetica, Arial, Sans-serif;
    color: #007fb6;
}
#maincontent #home_2 h2 {
    text-align: left;
}
#maincontent h3 {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    font-family: 'Bebas Neue W01', 'Helvetica Neue W01', Helvetica, Arial, Sans-serif;
    color: #007fb6;
    margin-bottom: 20px;
    margin-top: 40px;
}
#maincontent .outlined {
    border: 5px solid #fff;
    color: #fff;
    padding: 20px 40px;
    background: transparent;
    display: inline-block;
    margin: 0 auto;
    font-weight: 700;
    font-family: 'Bebas Neue W01', 'Helvetica Neue W01', Helvetica, Arial, Sans-serif;
}
#maincontent hr {
    background: #A6CC38;
    border: none;
    height: 5px;
    display: block;
    margin: 2.5em 0;
}
/*button & link styles*/

#maincontent .btn {
    background: #5195ea;
    color: #fff;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    padding: 10px 40px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
}
#maincontent .btn:hover,
#maincontent .btn:active {
    background: #2679df;
    color: #fff;
}
#maincontent .icon_link {
    font-size: 18px;
    text-align: center;
    display: inline-block;
    margin: 20px;
    color: #8b8b8b;
    text-decoration: none;
}
#maincontent .icon_link span, #maincontent a.step_box span.step_wrap > span {
    display: block;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: #007fb6;
    font-family: 'Bebas Neue W01', 'Helvetica Neue W01', Helvetica, Arial, Sans-serif;
}
#maincontent .icon_link span:before {
    display: block;
    content: '';
    width: 130px;
    height: 140px;
    background: #ccc;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    border-radius: 70px;
    margin: 0 auto;
}
#maincontent .clipboard span:before {
    background: url(../images/clipboard_icon.png) no-repeat scroll 50% top transparent;
}
#maincontent .pricetag span:before {
    background: url(../images/pricetag_icon.png) no-repeat scroll 50% top transparent;
}
#maincontent .house span:before {
    background: url(../images/house_icon.png) no-repeat scroll 50% top transparent;
}
#maincontent .findhome span:before {
    background: url(../images/laptop_icon.png) no-repeat scroll 50% top transparent;
}
#maincontent .security span:before {
    background: url(../images/buyhome_icon.png) no-repeat scroll 50% top transparent;
}
#maincontent .lease span:before {
    background: url(../images/homekey_icon.png) no-repeat scroll 50% top transparent;
}
#maincontent .payments span:before {
    background: url(../images/clock_icon.png) no-repeat scroll 50% top transparent;
}
#maincontent .buyhome span:before {
    background: url(../images/sold_icon.png) no-repeat scroll 50% top transparent;
}
#maincontent a.icon_link:hover span {
    color: #5195ea;
}
#maincontent a.icon_link:hover span:before {
    opacity: 0.8;
}

#maincontent a.step_box {
border: 1px solid #ccc;
display: block;
font-size: 22px;
text-align: left;
padding: 20px;
position: relative;
width: 600px;
max-width: 100%;
height: 140px;
margin: 10px auto;
text-decoration: none;
color: #000;
}

#maincontent a.step_box span.step_wrap {
position: absolute;
top: 50%;
left: 200px;
right: 20px;
transform: translateY(-50%);
}

#maincontent a.step_box:before {
display: inline-block;
height: auto;
width: 180px;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: auto;
font-weight: 400;
font-family: 'Bebas Neue W01', 'Helvetica Neue W01', Helvetica, Arial, Sans-serif;
text-align: center;
padding-top: 10px;
}

#maincontent a#step1:before {
content: 'Step One';
background: url(../images/laptop_icon.png) no-repeat scroll 50% 70% #2A4C61;
background-size: 120px auto;
color: #fff;
}

#maincontent a#step2:before {
background: url(../images/buyhome_icon.png) no-repeat scroll 50% 70% #2c5972;
background-size: 120px auto;
content: 'Step Two';
color: #fff;
}

#maincontent a#step3:before {
content: 'Step Three';
background: url(../images/homekey_icon.png) no-repeat scroll 50% 70% #255c7c;
background-size: 120px auto;
color: #fff;
}

#maincontent a#step4:before {
content: 'Step Four';
background: url(../images/clock_icon.png) no-repeat scroll 50% 70% #216389;
background-size: 120px auto;
color: #fff;
}

#maincontent a#step5:before {
content: 'Step Five';
background: url(../images/sold_icon.png) no-repeat scroll 50% 70% #1e6c96;
background-size: 120px auto;
color: #fff;
}


/*form styles*/

#maincontent fieldset {
    border: 1px solid #ccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#maincontent #contact_form fieldset {
    max-width: 760px;
    margin: 0 auto;
    padding-bottom: 10px;
}
#maincontent fieldset legend {
    padding: 0 20px;
    margin-left: 40px;
    position: relative;
    top: -10px;
}
#maincontent .field_wrap {
    margin: 0 auto 20px;
    max-width: 700px;
    text-align: left;
}
#maincontent .field_wrap label {
    font-size: 16px;
    font-weight: bold;
    display: block;
    font-family: 'Helvetica Neue W01', Helvetica, Arial, Sans-serif;
}
#maincontent .cs-select > span.cs-placeholder {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Helvetica Neue W01', Helvetica, Arial, Sans-serif;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}
#maincontent .cs-select li {
    font-size: 18px;
}
#maincontent .field_wrap input[type="text"],
#maincontent .field_wrap textarea {
    background: #fff;
    border: 1px solid #e1e1e1;
    padding: 0.5em;
    font-size: 18px;
    width: 100%;
    max-width: 100%;
    -webkit-appearance: none;
    font-weight: 300;
    font-family: 'Neue Helvetica W01', Helvetica, arial, sans-serif;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#maincontent .field_wrap textarea {
    height: 200px;
}
#maincontent .field_wrap #other_field input[type="text"] {
    width: auto;
    max-width: 55%;
    padding: 0.25em;
}
#maincontent .field_wrap select {
    font-weight: 300;
    font-family: 'Neue Helvetica W01', Helvetica, arial, sans-serif;
    font-size: 18px;
    padding: 10px;
}
#maincontent .field_wrap select option {}
/*home page styles*/

#maincontent .scroll_section {
    padding: 40px 40px 40px 40px;
    text-align: center;
    position: relative;
}
#maincontent #inventory,
#maincontent #comm_2,
#maincontent #comm_3 {
    padding: 0;
}
#maincontent #comm_3 {
    border-top: 10px solid #a6cc38;
}
#maincontent .scroll_section .scroll_pos {
    position: absolute;
}
#maincontent .scroll_section h1 {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Bebas Neue W01', 'Helvetica Neue W01', Helvetica, Arial, Sans-serif;
}
#maincontent #home_1 {
    color: #fff;
    background: url(../images/rbh_showhome.jpg) no-repeat scroll center center #333;
    background-size: cover;
    height: 682px;
    border-bottom: 10px solid #a6cc38;
}
#maincontent #home_1 .corner_btn {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#maincontent #home_1 a.home_social {
    position: absolute;
    top: 30px;
    right: 230px;
    z-index: 1;
    vertical-align: middle;
}
#maincontent #home_1 a.home_social img {
    vertical-align: middle;
    display: inline-block;
    margin-left: 10px;
    width: 44px;
    height: 44px;
}
#maincontent #home_1 a.home_social:hover img {
    -webkit-filter: hue-rotate(2deg) brightness(80%) saturate(150%);
    -moz-filter: hue-rotate(2deg) brightness(80%) saturate(150%);
    -o-filter: hue-rotate(2deg) brightness(80%) saturate(150%);
    -ms-filter: hue-rotate(2deg) brightness(80%) saturate(150%);
    filter: hue-rotate(2deg) brightness(80%) saturate(150%);
}
#maincontent .scroll_section .scroll_hold {
    position: absolute;
    left: 40px;
    right: 40px;
    top: 40px;
    bottom: 40px;
}
#maincontent #home_1 .scroll_pos,
#maincontent #thank_you .scroll_pos {
    bottom: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 100%;
    max-width: 910px;
}
#maincontent #home_3 {
    color: #fff;
    background: url(../images/living_room_fireplace.jpg) no-repeat scroll 50% 90% #333;
    background-size: cover;
}
#maincontent #home_3 p {
    max-width: 750px;
    margin: 1em auto;
}
/*content page styles*/

#maincontent .map h2 {
    font-size: 18px;
}
#maincontent ul.aln_left {
    text-align: left;
    max-width: 800px;
    margin: 30px auto;
}
#maincontent ul.aln_left li ul {
    margin-left: 80px;
}
#maincontent ul.aln_left li {
    list-style: disc outside none;
}
#maincontent ul.icon_list {
    margin: 0 auto;
    max-width: 1200px;
}
#maincontent ul.icon_list li {
    width: 350px;
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
}
#maincontent ul.icon_list li a.icon_link span {
    font-size: 30px;
}
#maincontent ul.pagination {
    margin: 20px auto;
    max-width: 1200px;
    text-align: center;
}
#maincontent ul.pagination li {
    display: inline-block;
    margin: 10px 5px;
}
#maincontent ul.pagination li a {
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    background: #ededed;
    padding: 10px;
    width: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #007fb6;
}
#maincontent ul.pagination li a.active,
#maincontent ul.pagination li a:hover {
    background: #B7D5ED;
}
#maincontent .img_hold {
    width: 100%;
    padding-bottom: 30%;
    min-height: 180px;
}
#maincontent #how_1 {
    color: #fff;
    background: url(../images/warm_bedroom.jpg) no-repeat scroll 50% 50% #333;
    background-size: cover;
    border-bottom: 10px solid #A6CC38;
    height: auto;
}
#maincontent #how_1 .scroll_pos {
    position: static;
    max-width: 910px;
    width: 100%;
}
#maincontent #how_1 .scroll_hold {
    position: static;
}
#maincontent #how_3 {
    color: #fff;
    background: url(../images/picket_fence.jpg) no-repeat scroll center top #333;
    background-size: cover;
}
#maincontent #benefit_1 {
    color: #fff;
    background: url(../images/lakeport2_bedroom.jpg) no-repeat scroll 50% 70% #333;
    background-size: cover;
    border-bottom: 10px solid #A6CC38;
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
}
#maincontent #abt_1 {
    background: url(../images/dark_spare_room.jpg) no-repeat scroll 50% 70% #333;
    background-size: cover;
    color: #fff;
    border-bottom: 10px solid #A6CC38;
    height: auto;
    padding-top: 160px;
    padding-bottom: 160px;
}
#maincontent #abt_img {
    background: url(../images/designer_living_room.jpg) no-repeat scroll 50% 50% transparent;
    background-size: cover;
}
#maincontent #why_1 {
    background: url(../images/silver_living_room.jpg) no-repeat scroll 50% 70% #333;
    background-size: cover;
    color: #fff;
    border-bottom: 10px solid #A6CC38;
    height: auto;
    padding-top: 160px;
    padding-bottom: 160px;
}
#maincontent #faq_1 {
    background: url(../images/dining_table_dark.jpg) no-repeat scroll 50% 70% #333;
    background-size: cover;
    color: #fff;
    border-bottom: 10px solid #A6CC38;
    height: auto;
    padding-top: 200px;
    padding-bottom: 200px;
}
#maincontent #priv_1 {
    background: url(../images/dining_to_den.jpg) no-repeat scroll 50% 70% #333;
    background-size: cover;
    color: #fff;
    border-bottom: 10px solid #A6CC38;
    height: auto;
    padding-top: 180px;
    padding-bottom: 180px;
}
#maincontent #contact_1 {
    background: url(../images/Cardston_SF8_4.jpg) no-repeat scroll 50% 50% #333;
    background-size: cover;
    color: #fff;
    border-bottom: 10px solid #A6CC38;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
#maincontent #prequal_1 {
    background: url(../images/bathroom_bg.jpg) no-repeat scroll 50% 100% #333;
    background-size: cover;
    color: #fff;
    border-bottom: 10px solid #A6CC38;
    height: auto;
    padding-top: 200px;
    padding-bottom: 200px;
}
#maincontent #comm_1 {
    background: url(../images/luxury_bathroom.jpg) no-repeat scroll 40% 50% #333;
    background-size: cover;
    color: #fff;
    border-bottom: 10px solid #A6CC38;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
#maincontent #rbh_1 {
    background: url(../images/dark_bedroom_cardston.jpg) no-repeat scroll 50% 50% #333;
    background-size: cover;
    height: auto;
    color: #fff;
    border-bottom: 10px solid #A6CC38;
    padding-top: 150px;
    padding-bottom: 150px;
}
#maincontent #inv_1 {
    background: url(../images/montgomery_exterior.jpg) no-repeat scroll 50% 50% #333;
    background-size: cover;
    height: auto;
    color: #fff;
    border-bottom: 10px solid #A6CC38;
    padding-top: 150px;
    padding-bottom: 150px;
}
#maincontent #abt_1 h2,
#maincontent #contact_1 h2,
#maincontent #priv_1 h2,
#maincontent #faq_1 h2,
#maincontent #why_1 h2,
#maincontent #abt_1 h2,
#maincontent #how_3 h2 {
    color: #fff;
}
#maincontent .comm_button {
    display: inline-block;
    width: auto;
    background-size: 50px;
    margin: 0 10px 30px 10px;
    text-align: left;
}
#maincontent .comm_button a {
    font-size: 18px;
    padding: 15px 0 15px 60px;
    display: block;
    text-decoration: none;
    color: inherit;
}
#maincontent .comm_button a:hover {
    color: #007fb6;
}
#maincontent .home_listing {
    border: 1px solid #ccc;
    padding: 20px;
    width: auto;
    display: inline-block;
    margin: 20px;
}
#maincontent .home_listing h2 {
    letter-spacing: 0;
    font-size: 30px;
}
#maincontent .home_listing p {
    font-size: 18px;
}
#maincontent .home_listing a.btn {
    display: block;
    width: auto;
}
#maincontent .home_listing a.btn + a.btn {
    margin-top: 20px;
}
#maincontent .home_listing .img_overflow {
    width: 100%;
    height: 196px;
    display: block;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}
#maincontent .home_listing img {
    width: auto;
    height: auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
#maincontent .portrait img {
    width: 100%;
}
#maincontent .landscape img {
    height: 100%;
}
#maincontent .radio_hold {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    padding-right: 20px;
    white-space: nowrap;
    display: block;
    font-size: 18px;
}
#maincontent #error_msg {
    font-size: 30px;
    margin: 20px auto;
    display: none;
    color: #ff0000;
    font-weight: bold;
}
#container .showmsg {
    font-size: 30px;
    margin: 20px auto;
    color: #ff0000;
    font-weight: bold;
    text-align: left;
}
#maincontent #creekwood_small {
    background: url(../images/creekwood_small.png) no-repeat scroll 0 0 transparent;
    background-size: 50px;
}
#maincontent #jesperdale_small {
    background: url(../images/jesperdale_small.png) no-repeat scroll 0 0 transparent;
    background-size: 50px;
}
#maincontent #spruceridge_small {
    background: url(../images/spruceridgelogo.png) no-repeat scroll 0 0 transparent;
    background-size: 50px;
}
#maincontent #uppercarlton_small {
    background: url(../images/uppercarlton_small.png) no-repeat scroll 0 0 transparent;
    background-size: 50px;
}
#maincontent #verte_small {
    background: url(../images/verte_small.png) no-repeat scroll 0 0 transparent;
    background-size: 50px;
}
#maincontent #riverside_small {
    background: url(../images/riverside_small.png) no-repeat scroll 0 0 transparent;
    background-size: 50px;
}
#maincontent #hawksridge_small {
    background: url(../images/hawk_small.png) no-repeat scroll 0 0 transparent;
    background-size: 50px;
}
#maincontent #rosenthal_small {
    background: url(../images/rosenthal_small.png) no-repeat scroll 0 0 transparent;
    background-size: 50px;
}
#maincontent #silverstone_small {
    background: url(../images/silverstone_small.png) no-repeat scroll 0 0 transparent;
    background-size: 50px;
}
#maincontent #fairways_small {
    background: url(../images/fairways_small.png) no-repeat scroll 0 0 transparent;
    background-size: 50px;
}
#maincontent #newcastle_small {
    background: url(../images/newcastle_small.png) no-repeat scroll 0 0 transparent;
    background-size: 50px;
}
#maincontent #lewisestates_small {
    background: url(../images/webber_small.png) no-repeat scroll 0 0 transparent;
    background-size: 50px;
}
#maincontent #palisades_small {
    background: url(../images/palisades_small.png) no-repeat scroll 0 0 transparent;
    background-size: 50px;
}
#maincontent #morinville_small {
    background: url(../images/lakes_small.png) no-repeat scroll 0 0 transparent;
    background-size: 50px;
}
#maincontent #jensen_small {
    background: url(../images/jensen_small.png) no-repeat scroll 0 0 transparent;
    background-size: 50px;
}
#maincontent #canal_small {
    background: url(../images/canallanding_logo.jpg) no-repeat scroll 0 0 transparent;
    background-size: 50px;
}
#maincontent #bayside_small {
    background: url(../images/bayside100x71.jpg) no-repeat scroll 0 5px transparent;
    background-size: 55px;
}
#maincontent #westmere_small {
    background: url(../images/westmere_logo.png) no-repeat scroll 0 14px transparent;
    background-size: 52px;
}
#maincontent #rainbow_small {
    background: url(../images/rainbow_logo.png) no-repeat scroll 10px 0px transparent;
    background-size: 29px;
}
#maincontent #kinniburgh_small {
    background: url(../images/kinniburgh.jpg) no-repeat scroll 0 0px transparent;
    background-size: 43px;
}
#maincontent #fireside_small {
    background: url(../images/fireside_logo_flame.png) no-repeat scroll 12px 0px transparent;
    background-size: 25px;
}
#maincontent #edgefield_small {
    background: url(../images/Edgefield_logo.png) no-repeat scroll 0 0 transparent;
    background-size: 35px;
}
#maincontent .cs-select ul,
#maincontent .cs-select ul li {
    margin: 0;
}
#maincontent #thank_you {
    color: #fff;
    background: url(../images/airy_kitchen.jpg) no-repeat scroll 50% 50% #333;
    background-size: cover;
    border-bottom: 10px solid #A6CC38;
    height: auto;
}
#maincontent #list_of_inventory {
    text-align: left;
    max-width: 110px;
    padding-right: 40px;
}
#maincontent #list_of_inventory ul li {
    border-bottom: 1px solid #ccc;
    padding: 0px 0 10px;
    font-size: 18px;
}
#maincontent #list_of_inventory ul li a {
    font-size: 14px;
    text-decoration: none;
    color: #5195ea;
}
#maincontent #list_of_inventory ul li a + a {
    color: #ff0000;
}
#maincontent #list_of_inventory ul li:last-of-type {
    border-bottom: none;
}
#maincontent .comm_wrapper {
    width: auto;
    margin: 10px;
    text-align: center;
    float: none;
}
/*desktop view*/

@media (min-width: 1100px) {
    #maincontent .scroll_section {
        padding: 40px 40px 40px 290px;
    }
    #maincontent .no-pad {
        padding: 0 0 0 250px;
    }
    #maincontent .scroll_section .scroll_hold {
        left: 290px;
    }
    #maincontent .one-half {
        width: 49%;
        float: left;
        text-align: left;
    }
    #maincontent .one-half + .one-half {
        float: right;
    }
    #maincontent .scroll_section h1 {
        font-size: 70px;
    }
    #maincontent #home_2 h2 {
        text-align: center;
    }
    #maincontent h2 {
        font-size: 37px;
    }
    #maincontent ul.fancy {
        text-align: center;
    }
    #maincontent ul.fancy li {
        display: block;
        width: auto;
    }
    #maincontent ul.fancy li span {
        display: inline-block;
        background: none;
        padding: 0;
    }
    #maincontent ul.fancy li span:after {
        content: '';
        display: block;
        background: url(../images/check_bullet.svg) no-repeat scroll 0 0 transparent;
        height: 35px;
        width: 35px;
        float: left;
        margin-right: 20px;
    }
    #maincontent #home_1 .scroll_pos {
        bottom: 75px;
        left: 50%;
        top: auto;
        transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        width: 100%;
        max-width: 910px;
    }
    #maincontent a.icon_link {
        display: inline-block;
        margin: 60px 40px;
    }
    #maincontent a.icon_link span {
        font-size: 40px;
    }
    #maincontent .home_listing {
        width: 300px;
    }
    #maincontent .radio_hold {
        display: inline-block;
    }
    #maincontent #how_1 {
        height: 600px;
    }
    #maincontent #how_1 .scroll_pos {
        bottom: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        max-width: 910px;
        width: 100%;
        position: absolute;
    }
    #maincontent #how_1 .scroll_hold {
        position: absolute;
    }
    #maincontent .comm_button {
        width: auto;
        margin: 0 30px 30px;
        display: block;
    }
    #maincontent .field_wrap #other_field {
        margin-top: 20px;
    }
    #maincontent .field_wrap #other_field input[type="text"] {
        width: auto;
    }
    #maincontent #inventory {
        padding: 40px 40px 40px 290px;
    }
    #maincontent #comm_2,
    #maincontent #comm_3 {
        padding: 0;
    }
    #maincontent #edit_inventory .field_wrap {
        margin: 0 0 20px;
    }
    #maincontent .comm_wrapper {
        width: 25%;
        min-width: 240px;
        max-width: 400px;
        margin-right: 40px;
        text-align: left;
        float: left;
    }
}
@media (max-width: 800px) {
    #maincontent .comm_button a {
        padding: 80px 0 0 0;
    }
    #maincontent .comm_button {
        background-position: top center !important;
        background-size: auto 70px !important;
        text-align: center;
        display: inline-block;
    }
    #maincontent #westmere_small {
        background-size: auto 50px !important;
    }
    #maincontent .contact-table {
        width: 100%;
    }
    #maincontent .contact-table .table-cell {
        display: block;
        padding: 0;
        width: 100%;
    }
    #maincontent #contact_form fieldset {
        padding: 0px 20px;
        max-width: 100%;
    }
    /*#rc-imageselect, .g-recaptcha {transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;}*/

#maincontent a.step_box {
width: auto;
height: auto;
text-align: center;
padding-top: 200px;
}

#maincontent a.step_box:before {
left: 50%;
transform: translateX(-50%);
width: 160px;
height: 160px;
padding: 20px 0 0 0;
color: #000;
}

#maincontent a.step_box span.step_wrap {
position: relative;
top: 0;
left: 0;
right: 0;
transform: none;
}

#maincontent a#step1:before {
content: 'Step One';
background: url(../images/laptop_icon.png) no-repeat scroll 50% 60px transparent;
background-size: 120px auto;
color: #007fb6;
}

#maincontent a#step2:before {
background: url(../images/buyhome_icon.png) no-repeat scroll 50% 60px transparent;
background-size: 120px auto;
content: 'Step Two';
color: #007fb6;
}

#maincontent a#step3:before {
content: 'Step Three';
background: url(../images/homekey_icon.png) no-repeat scroll 50% 60px transparent;
background-size: 120px auto;
color: #007fb6;
}

#maincontent a#step4:before {
content: 'Step Four';
background: url(../images/clock_icon.png) no-repeat scroll 50% 60px transparent;
background-size: 120px auto;
color: #007fb6;
}

#maincontent a#step5:before {
content: 'Step Five';
background: url(../images/sold_icon.png) no-repeat scroll 50% 60px transparent;
background-size: 120px auto;
color: #007fb6;
}


}

/*override font weights for windows machines*/

body.pc #maincontent p, body.pc #maincontent .btn, body.pc #maincontent .field_wrap input[type="text"], body.pc #maincontent .field_wrap textarea {
font-weight: 400;
}#banner {
width: auto;
border: none;
height: auto;
max-width: inherit;
position: relative;	
margin: 0 auto;
font-family: helvetica, arial, sans-serif;
display: block;
}

#banner img.logo {
display: block;
margin: 20px auto;
width: 200px;
max-width: 90%;
}

#banner #header_social {
position: static;
margin: 0 auto;
display: block;
text-align: center;
}

@media (min-width: 1100px) {

#banner {
height: 0;
position: absolute;
top: 0;
}

#banner img.logo {
display: none;
}

#banner #header_social {
position: absolute;
top: 155px;
left: 20px;
z-index: 3;
}

}#footer {
width: auto;
background: #2a4c61;
color: #fff;
border-top: 10px solid #a6cc38;
height: auto;	
position: relative;
margin: 0 auto;
clear: both;
text-align: center;
padding-left: 0;
}

#footer p, #footer a {
color: #fff;
text-decoration: none;
font-size: 12px;
}

#footer a:hover, #footer a:active {
color: #CCCCCC;
}

#footer .logo img {
width: 190px;
display: block;
margin: 20px auto;
}

#footer ul {
margin: 20px auto;
}

#footer ul li {
display: inline-block;
}

#footer ul.text-links li {
border-right: 1px solid #fff;
padding: 0 10px;
}

#footer ul.text-links li:last-child {
border-right: none;
}

#footer ul li a {
font-size: 14px;
}

#footer ul li img {
display: inline-block;
vertical-align: middle;
margin: 0 5px;
}

@media (min-width: 1100px) {

#footer {
padding-left: 250px;
}

}#event_sidebar {
width: 200px;
float: left;
background: #fff;
border: 1px solid #ccc;
margin: 20px;
}

#event_sidebar p.sidebar_title {
font-size: 14px;
font-weight: bold;
border-bottom: 1px solid #ccc;
margin: 10px;
padding-bottom: 5px;
}

#event_sidebar .event {
margin: 0 10px 10px;
border-bottom: 1px solid #ccc;
padding-bottom: 10px;
}

#event_sidebar .event:last-child {
border-bottom: none;
}

#event_sidebar .event p {
font-size: inherit;
font-weight: inherit;
}

#maincontent #event_sidebar .event p.evnt_title a {
font-size: 14px;
font-weight: bold;
text-decoration: none;
}

#event_sidebar .event p.evnt_date {
color: #aaa;
font-size: 10px;
margin-bottom: 10px;
}

#event_sidebar .event p a.evnt_link {
text-decoration: none;
color: #0056C0;
display: block;
}

#event_sidebar .event p a.evnt_link:hover {
color: #ff0000;
}

.widget #edit_event {
position: absolute;
left: 50% !important;
margin-left: -232px;
}

#event_detail_wrap {
background: #fff;
width: 600px;
position: fixed;
top: 10%;
left: 50%;
margin-left: -300px;
z-index: 25001;
border: 5px solid #ccc;
max-height: 500px;
overflow: auto;
}

#event_detail_wrap #event_detail {
width: 560px;
margin: 20px;
}


#event_detail_wrap #event_detail th {
color: #000000;
font-family: Helvetica,Arial,sans-serif;
font-size: 16px;
font-weight: bold;
padding-bottom: 5px;
}

#event_detail_wrap #event_detail th#title {
font-size: 22px;
letter-spacing: -1px;
padding-bottom: 10px;
}

#event_detail_wrap #event_detail td {
color: #000000;
font-family: Helvetica,Arial,sans-serif;
font-size: 14px;
padding-bottom: 20px;
}

#event_detail_wrap #event_detail td p {
margin-bottom: 20px;
width: 100%;
}

#event_detail_wrap #close_btn {
background: url(../images/close_sq.html) no-repeat scroll 0 0 transparent;
width: 24px;
height: 26px;
text-indent: 100%;
white-space: nowrap;
overflow: Hidden;
display: block;
position: absolute;
top: 10px;
right: 10px;
}

#event_detail_wrap #close_btn:hover {
background: url(../images/close_sqhov.html) no-repeat scroll 0 0 transparent;
}

/*PUBLIC CALENDAR PAGE*/

#maincontent #public_content {
width: auto;
margin: 0 auto;
}

#maincontent #public_content a {
text-decoration: none;
color: #0056C0;
}

#maincontent .head_box {
    background: none repeat scroll 0 0 #ECECEC;
    color: #000000;
    padding: 15px;
border: 1px solid #333;
border-bottom: none;
}

#maincontent .head_box h2 {
    font-size: 18px;
    font-weight: 700;
}

#maincontent .dash_box {
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    padding: 50px;
border: 1px solid #333;
}

#maincontent #events_archive {
    float: left;
    margin-right: 40px;
    width: 200px;
}

#maincontent #events_archive p {
    font-size: 12px;
    margin: 0 0 20px;
}

#maincontent #events_archive p a {
    display: block;
    padding-bottom: 5px;
}

#maincontent #events_archive h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 0px;
}

#maincontent #events_archive p.mnth {
    border-top: 1px solid #CCCCCC;
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0 5px;
    padding-top: 20px;
}

#maincontent #public_content #calendar {
    float: left;
    position: relative;
    top: -5px;
    width: 615px;
}

#maincontent #public_content #calendar a {
font-size: 14px;
font-weight: 400;
}

.user_cal_pop {
    height: 300px;
    padding: 20px;
    width: 500px;
}

.user_cal_pop h1 {
font-size: 18px;
font-weight: 700;	
text-transform: capitalize;
}

.user_cal_pop h1 span {
float: right;	
font-size: 14px;
font-weight: 500;
}

.user_cal_pop p {
font-size: 14px;
margin: 10px 0;	
}